.container{
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: auto auto;
    gap: 2%;
    justify-content: space-around;
}

.rowOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.spanInfo{
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: -0.1rem;
    color: #68d248;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}