.rowOne{
    grid-column: 1/4;
    grid-row: 2/3;

}
.spanInfo{
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: -0.1rem;
    color: #68d248;
}
.cards{
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    gap: 2rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin: 0 2%;

}