.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
}


.spanInfo{
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: -0.1rem;
    color: #68d248;
    width: 100%;
    margin: 7% 25%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 3/4;
    gap: 30px;
    padding-left: 40px;
    position: absolute;
    margin-top: 8%;
}