.home{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60% 30% 10%;
    justify-content: space-around;
    
}
.backImg{
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 0 0 18%;
    justify-content: space-between;
    z-index: 2;
}

.mainTitle{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.2rem;
    word-spacing: 0.3rem;
    color: #68d248;
    text-align: center;
}
.paragraph{
    font-size: 18px;
    letter-spacing: 0.08rem;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: #fff;
}


.button{
    bottom: 0;
    right: 0;
    background-color: #163a3e;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1rem;
    transition: all 0.6s ease-in;
    border: 2px outset;
}

.button:hover{
    background-color: rgb(114, 32, 134);

}