.about {
    grid-column: 1/4;
    grid-row: 2/4;
    display: flex;
    margin: 2% 10%;
    gap: 12%;
    height: 65vh;
    /* Set the height of the container to 80% of the viewport height */
}

.wrapper {
    flex: 1;
    margin-bottom: 20px;
    /* Reduce the margin bottom to take up less vertical space */
}

.imgAbout {
    height: auto;
    /* Set the height of the image to be proportional to its width */
    max-height: 100%;
    /* Set the maximum height of the image to 100% of its container's height */
    border-radius: 2%;
}

.paragraph {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    color: #ffffff;
    align-self: center;
    margin: 4% 0;
    /* Reduce the margin top and bottom to take up less vertical space */
}

.button {
    background-color: #308c13;
    color: #fff;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1rem;
    transition: all 0.6s ease-in;
    border: 2px outset;
    margin-left: 4%;
}

.button:hover {
    cursor: pointer;
    background-color: #096c77;
}