.favorites {
    grid-column: 1/4;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    margin: 0 2%;
}

.noFavs{
    grid-column: 1/4;
    grid-row: 3/4;
    color: white;
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    word-spacing: 3px;
    letter-spacing: -0.1rem;
    color: #fff;
}