.login{
    grid-row: 1/4;
    grid-column: 1/2;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}
.loginBG{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: auto;
    right: 0;
    top: 0;
}

.loginTitle{
    font-size: 2rem;
    color: wheat;
    border-bottom: 2px solid #308c13;
    letter-spacing: -0.2rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20% 15%;
    background-color: #283026;
    padding: 8%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    justify-content: space-around;

    
}


.form{
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    gap: 3px;
    
}

.label{
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.input{
    letter-spacing: -0.09rem;
    outline: none;
    box-shadow: none;
    padding: 8px;
    border: none;
    font-size: 20px;
    background: none;
    border-bottom: 3px solid #fff;
    
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
    -webkit-text-fill-color: #333 !important;
}

input:-internal-autofill-selected {
    background-color: transparent !important;
}
.buttonLogin{
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    align-self: center;
    background-color: #308c13;
    color: white;
    transition: all 0.2s ease-in;
}
.buttonLogin:hover{
    cursor: pointer;
    background-color: #096c77;
}

.homeImg{
    width: 120px;
    position: absolute;
    top:0;
    left: 30px;
}
.formSp{
    margin-top: 0;
    color:bisque;
    font-size: small;
    height: 10px;
}

.alter{
    height: 10px;
}