body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(37,37,37,255);
  
}
.fa-solid{
  color: #0fc8c8;
}

.nav-item{
  text-decoration: none;
  color: rgb(230, 133, 48);
  padding: 3px 20px;
  border-bottom: 3px solid rgba(230, 133, 48, 0);
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-out 0.09s;
}

.nav-item:hover{
  border-bottom: 3px solid rgb(230, 133, 48);
  padding: 3px 20px;
}
.active{
  color: wheat;
  font-weight: bold;
  padding: 3px 20px;
}
.active:hover{
  border-bottom: 3px solid rgba(230, 133, 48, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 25px;
  }
  .cardGroups{
    display: grid;
    grid-column: 1/2;
  }
}

.homeButton{
  text-decoration: none;
  color: rgb(140, 230, 230);
}
.homeButton:hover{
  color:#fff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cardGroups{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 25px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cardGroups{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 25px;
  }
}